{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <h2>Login</h2>
        {% if app.flashes('error') %}
            <div class="alert alert-danger">
                {{ app.flashes('error')[0] }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Login</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
